{% extends 'base.html.twig' %}

{% block title %} Choose One Brand {% endblock %}

{% block body %}
    <h1> Choose One Brand With many Models </h1>
    <br>
    <div class="container-fluid justify-content-start">
        <div class="row">
            <div class="col-lg-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
